._.DS_Store
.DS_Store
._*
*.fuse
/Dilatometer/Analysis
/Dilatometer/Data
/Dilatometer/Example Analysis/D5/D5*
/Dilatometer/Example Data/D5/Sample*
/Dilatometer/README.txt
/Hydrawedge
/Patryk FE
/Servotest
/Region Labels
Manchester*
Predictions*
Mech Test Textures.zip
Sumeet Data.zip
~*
Results*
Max and Min*